nltk==3.9.1
numpy==2.0.2
pandas==2.2.3
rouge==1.0.1
rouge-metric==1.0.1
spacy
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
textblob==0.18.0.post0
thinc==8.3.2
tokenizers==0.20.1
language-tool-python == 2.8.1
lexicalrichness == 0.5.1
lexical-diversity == 0.1.1
