nltk==3.9.1
numpy==2.0.2
pandas==2.2.3
rouge==1.0.1
rouge-metric==1.0.1
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
textblob==0.18.0.post0
thinc==8.3.2
tokenizers==0.20.1
language-tool-python == 2.8.1
lexicalrichness == 0.5.1
lexical-diversity == 0.1.1
